h1 {
    display: flex;
    justify-content: center;
}

.Region {
    display: flex;
    justify-content: center;
}

body {
    background-color: linear-gradient;
}

.search {
    display: flex;
    justify-content: center;
}